<!DOCTYPE html>
<html lang="en">
<head>
    {% load i18n %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
</head>
<body>
    {% get_available_languages as languages %}
    {% for lang_code, lang_name in languages %}
        {% language lang_code %}
            <a class="lang" href="{% url request.resolver_match.url_name %}">{{lang_code}}</a>
        {% endlanguage %}
    {% endfor %}
    {% block content %}

    {% endblock %}
</body>
</html>