.content{
    text-align: center;
}
h1{
    font-size: 21px;
    margin-bottom: 25px;
}
form #id_text{
    width: 350px;
    padding: 5px 10px;
    height: 100px;
}
form #id_mail{
    width: 350px;
    padding: 5px 10px;
    margin-top: 10px;
}
form #id_time{
    padding: 5px 10px;
    margin-top: 10px;
}
form #search{
    margin-top: 15px;
}
.lang{
    color: #000;
    text-decoration: none;
    background-color: #e4e4e4;
    padding: 5px 8px;
    margin-bottom: 5px;
    display: inline-block;
    -moz-transition: background-color 0.3s 0.1s ease;
    -o-transition: background-color 0.3s 0.1s ease;
    -webkit-transition: background-color 0.3s 0.1s ease;
}
.lang:hover{
    background-color: #d0d0d0;
}
